<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </body>
</html>