<link rel="stylesheet" href="/css/style.css" type="text/css" />
<link rel="stylesheet" id="storefront-woocommerce-style-css" href="/css/themes/storefont/assets/sass/woocommerce/woocommerce.css" type="text/css" />
<link rel="stylesheet" href="/js/jplayer-2.9.2/skin/blue.monday/css/jplayer.blue.monday.css" type="text/css" />
<style id='storefront-style-inline-css' type='text/css'>
			table.cart td.product-remove,
			table.cart td.actions {
				border-top-color: #ffffff;
			}
</style>
<script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/js/jplayer-2.9.2/jplayer/jquery.jplayer.min.js"></script>
<script type="text/javascript" src="/js/jplayer-2.9.2/add-on/jplayer.playlist.min.js"></script>